header {
    width: 100%;
    height: 55px;
    padding: 1.5em 1em 1.5em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #d3a878;
}

nav {
    min-width: 115px;
    height: 100%;
    gap: 0.625em;
}
nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: flex-start;
}
.link-historial {
    font-weight: 700;
    font-size: 1rem;
    color: #13071a;
    text-decoration: none;
}
.link-historial:hover { 
    text-decoration: underline;
}